<div class="boss d-flex p-3 mb-2 bg-primary text-white col-6 rounded">
  <p><%=params[:question]%></p>
</div>

<div class="question p-3 mb-2 bg-success text-white col-6 rounded">
  <p>Your boss : "<%=@answer%>"</p>
</div>
